@model GamingGuruBlog.Domain.Models.BlogPost
@{
    ViewBag.Title = "GetBlogPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h1 class="page-header">@Model.Title</h1>
<div class="group1 col-sm-6 col-md-6">
    <span class="glyphicon glyphicon-user"></span> @Model.Author.FirstName @Model.Author.LastName
</div>
<div class="group2 col-sm-6 col-md-6">
    <div class="col-xs-6"><span class="glyphicon glyphicon-time"></span><span class="text-left"> @Html.DisplayFor(m => Model.DateCreatedUTC)  </span></div>
    @if (Model.EditDate != null)
            { <div class="col-xs-6"><span class="glyphicon glyphicon-edit text-right"></span><span> @Html.DisplayFor(m => Model.EditDate)</span></div>}
</div>
<div class="col-sm-12 col-md-12">
    <span class="glyphicon glyphicon-folder-open"></span>
    @foreach (var category in Model.AssignedCategories)
            {
        @Html.ActionLink("[" + category.CategoryName + "]", "BlogPostsByCategory", "BlogPost", new { id = category.CategoryId }, null)
    }
    <span class="glyphicon glyphicon-bookmark"></span>

    @foreach (var tag in Model.AssignedTags)

            {
        <a href="#">@tag.TagName </a>
    }
    <hr />
</div>
<br />

<!-- Post Content -->

<div class="col-sm-12 col-md-12">
    @Html.Raw(Model.Body)
</div>

<div class="col-sm-12 col-md-12">
    @Html.Raw(Model.Summary)
</div>
<hr>
